/* Caractéristiques générales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-image: url("./content/bg_page1.png"), url("./content/bg_page2.png");
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  background-color: #1a8093;
  color: white;
}

img {
  object-fit: cover;
}

/* ------------------------------------------- Page 1 ------------------------------------------- */

.page1 {
  height: 100vh;
  width: 80%;
  margin: auto;
}

.fb {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0 0 0;
}

/* Nav */

nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 4rem 0;
  align-items: center;
}

nav ul li {
  margin-left: 2rem;
}

/* Header */

header {
  display: flex;
  justify-content: space-around;
}

.welcomeText {
  width: 30%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

header img {
  height: 40rem;
  width: 45rem;
  border-radius: 100%;
}

/* ------------------------------------------- Page 2 ------------------------------------------- */

main {
  height: 100vh;
  width: 80%;
  margin: auto;
}

main h2 {
  margin: 4rem 0;
  text-align: center;
}

main .page2 {
  display: flex;
  justify-content: center;
  padding: 5rem;
  border: solid 0.2rem #111;
  background-color: #eee;
  border-radius: 10rem;
}

main .leftColumn {
  width: 40%;
  padding: 0 3rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .rightColumn img {
  height: 40rem;
}

/* ------------------------------------------- Page 3 ------------------------------------------- */

.page3 {
  height: 100vh;
  width: 80%;
  margin: auto;
}

.page3 h2 {
  text-align: center;
  margin: 2rem 0;
}

.page3 p {
  text-align: center;
  margin-bottom: 2rem;
}

.page3 .cards {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.page3 .card {
  width: 23%;
  text-align: center;
  margin: 0 1rem;
  padding: 1rem;
}

.page3 .card .cardTitle {
  margin: 1rem 0;
}

.page3 .card img {
  border-radius: 50rem;
  height: 20rem;
  width: 20rem;
  margin: auto;
}

.page3 .labels {
  text-align: center;
}

.page3 #label {
  margin: 5rem;
}

/* ------------------------------------------- Page 4 ------------------------------------------- */

/* Logos Clients */

/* #logoClient0 {
  background-image: url("./content/logos clients/esso.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#logoClient1 {
  background-image: url("./content/logos clients/elan.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#logoClient2 {
  background-image: url("./content/logos clients/elf.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#logoClient3 {
  background-image: url("./content/logos clients/fina.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#logoClient4 {
  background-image: url("./content/logos clients/total.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#logoClient5 {
  background-image: url("./content/logos clients/shell.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#logoClient6 {
  background-image: url("./content/logos clients/agip.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#logoClient7 {
  background-image: url("./content/logos clients/bp.png");
  background-size: contain;
  background-repeat: no-repeat;
} */

/* ------------------------------------------- Page 5 ------------------------------------------- */

.contact {
  height: 100vh;
  width: 80%;
  margin: auto;
}

.contact h2 {
  text-align: center;
  margin: 2rem 0;
}

.contact p {
  text-align: center;
  margin-bottom: 3rem;
}

.contact .forms {
  display: flex;
}

.contact .phoneMailLogo {
  width: 45%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#infosEts {
  border: solid 0.1rem black;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  border-radius: 10rem;
  text-align: justify;
  background-color: #eee;
}

.contact .contactForm {
  width: 45%;
  margin: auto;
  padding: 2rem;
  border: solid 0.2rem black;
  border-radius: 5rem;
  background-color: #eee;
  text-align: center;
}

.formContact {
  display: flex;
  flex-direction: column;
}

.formContact input {
  margin: auto;
  margin: 2rem 0;
  padding: 0.5rem;
}

.formContact textarea {
  padding: 1rem;
  margin: 2rem 0;
  resize: none;
}

.formContact button {
  width: 80%;
  margin: auto;
}

/* Logo Ets */

.logoEts {
  width: 30rem;
  height: 30rem;
  border-radius: 50rem;
  background-image: url("./content/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Footer */

footer {
  margin-top: 3rem;
}

footer ul {
  display: flex;
  justify-content: flex-end;
}

footer ul li {
  margin-right: 2rem;
}

/* ------------------------------------------- Effets ------------------------------------------- */

a:hover {
  color: rgb(63, 63, 228);
  transform: scale(1.1);
}

ul li:hover {
  transform: scale(1.1);
}

ul li:last-child:hover {
  transform: none;
}

button:hover {
  transform: scale(1.1);
}

.card:hover {
  transform: scale(1.05);
}

/* ------------------------------------------- Responsive Design ------------------------------------------- */
